.App {
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.button {
  padding: 0.7em;
  background-color: #5e7c10;
  border-radius: 2em;
  border-color: #5e7c10;
  border-style: none;
  transition: 0.5s;
  text-decoration: none;
  color: white
}

.button:hover {
  background-color: #91ca16;
  border-color: #91ca16;
}