.App {
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.backLink {
  padding: 0.7em;
  background-color: #5e7c10;
  border-radius: 2em;
  transition: 0.5s;
  text-decoration: none;
  color: white
}