.gameCreateContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #171a21;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;

    width: 80vw;  
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 60vh;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.genreList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.listedGenre {
    float: left
}

img {
    max-width: 35vw;
    max-height: 60vh;
}

form {
    padding: 1em;
    width: 40vw;
}

input {
    border-radius: 10px;
    width: calc(100% - 1em);
    padding: 0.5em;
}

textarea {
    border-radius: 10px;
    width: calc(100% - 1em);
    padding: 0.5em;
}

button {
    margin: 0.5em;
    border-color: #5e7c10;
}

@media only screen and (max-width: 600px) {
    .formContainer {
        flex-direction: column-reverse;
    }

    .imgContainer {
        
        width: 75vw;
        height: auto;
        min-height: 100px;
        max-height: 50vh;
        justify-content: flex-start;
    }

    img {
        
        max-width: 75vw;
        max-height: 50vh;
    }

    .gameCreateContainer {
        width: 85vw;  
    }

    form {

        padding: 1em;
        width: 80vw;
    }
}