.gameCreateContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #171a21;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;

    max-width: 80vw;  
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 60vh;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.genreList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.displayGenreSelectorStuff {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.listedGenre {
    background-color: black;
    color: white;
    border-radius: 3em;
    padding: 0.5em;
}

.deleteGenrebutton {
    border-radius: 2em;
    color: white;
    background-color: red;
    border-color: red;
    margin-left: 0.5em;
}

.addGenreButton {
    margin: 0.5em;
    padding:0.5em;
    background-color: #5e7c10;
    border-radius: 2em;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.addGenreButton:hover {
    background-color: #91ca16
}

.warning {
    color:orange;
    font-weight: bold;
}

img {
    max-width: 35vw;
    max-height: 60vh;
}

form {
    padding: 1em;
    width: 40vw;
}

input {
    border-radius: 10px;
    width: calc(100% - 1em);
    padding: 0.5em;
}

textarea {
    border-radius: 10px;
    width: calc(100% - 1em);
    padding: 0.5em;
}


select {
    margin: 0.5em;
    padding:0.5em;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .formContainer {
        flex-direction: column-reverse;
    }

    .imgContainer {
        
        width: 75vw;
        height: auto;
        min-height: 100px;
        max-height: 50vh;
        justify-content: flex-start;
    }

    img {
        
        max-width: 75vw;
        max-height: 50vh;
    }

    .gameCreateContainer {
        width: 85vw;  
    }

    form {

        padding: 1em;
        width: 80vw;
    }
}