.gameCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    
    min-height: 18em;
    height: auto;
    width: 18em;

    background-color: #171a21;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;

    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.gameCard:hover {
    top: -10px;
}

.gameCardImg {
    max-height: 16em;
    max-width: 16em;
    border-radius: 1em;

    padding: 0.5em;
}

.gameCardTitle {
    font-size: 1em;
}

.cardGenresContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cardGenre {
    border-radius: 1em;
    background-color: #3c520c;
    margin: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media only screen and (max-width: 600px) {

    .gameCard {
        min-height: 15em;
        width: 18em;
    }

    .gameCard:hover {
        top: 0px;
    }
    
    .gameCardImg {
        max-height: 16em;
        max-width: 16em;
        margin-bottom: 0.5em;
        padding: 0.5em;
    }
}


